<%= turbo_stream_from "staff_orders" %>

<h1>Live Queue (Pending)</h1>
<p><%= link_to "History", history_staff_orders_path %></p>

<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Time</th>
      <th>ID</th>
      <th>Table</th>
      <th>Total</th>
      <th>Items</th>
      <th>Open</th>
    </tr>
  </thead>

  <tbody id="pending_orders">
    <% @orders.each do |order| %>
      <%= render partial: "staff/orders/order_row", locals: { order: order } %>
    <% end %>
  </tbody>
</table>
