<h1>My Orders (Table <%= @table.number %>)</h1>

<p><%= link_to "â† Back to Menu", new_table_order_path(@table.qr_token) %></p>

<%= turbo_stream_from "table_#{@table.id}_orders" %>

<div id="my_orders">
  <% if @orders.empty? %>
    <p>No active orders.</p>
  <% else %>
    <% @orders.each do |order| %>
      <%= render "my_order_card", order: order %>
    <% end %>
  <% end %>
</div>
